.outerContainer{
    padding-top: 2vh;
    margin-bottom: 5vh;
}
.container{
    margin-left: 2vw;
    border-radius: 5px;
    padding: 2vw;
    padding-left: 4vw;
    padding-right: 4vw;
    width: clamp(200px, 20vw, 30vw);
    height: auto;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    animation: shadow;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;

}

.title{
    font-size: calc(20px + 0.5vw);
    font-family: 'Oswald', sans-serif;
}
.text{
    font-size: calc(12px + 0.5vw);
    font-family: 'Oswald', sans-serif;
}
.logoReact{
    margin-top: 2vh;
    animation: spin;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
.logoReact:hover{
    width: 40vw;
    position: absolute;
    left: 5vw;
    top: 10vh;

}


@keyframes spin {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
  }
@keyframes shadow {
    0%{box-shadow: 0px 0px 0px black; background-color: rgba(0, 0, 0, 0); opacity: 0;}
    100%{box-shadow: 10px 10px 10px black;    background-color: rgba(0, 0, 0, 0.49); opacity: 1;}
  }