.container{
    text-align: center;
    margin:  0 auto;
    margin-top: 5vh;
    width: 90vw;
    height: 80vh;
    border-radius: 5px;
    animation: shadow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.img{
    position: relative;
    width: 40vw;
    border-radius: 5px;
    margin-top: 7vh;
    box-shadow: 10px 10px 10px black;

}
.textInfo{
    font-size: calc(8px + 0.3vw);
    font-family: 'Oswald', sans-serif;
    color: white;
    margin: 1vw;
}
.text{
    font-size: calc(8px + 0.5vw);
    font-family: 'Oswald', sans-serif;
    color: white;
}
.title{
    font-size: calc(20px + 0.5vw);
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration:2px underline yellow;
    margin-bottom: 2vh;
}

.infoDiv{
 margin-top: 2vh;
    transition: 2s;
    position: relative;
    bottom: 60vh;
    left: 10vw;
    width: 25vw;
    height: 40vh;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
    background-color: rgba(0, 0, 0, 0.55)
}
.infoDivDarker{
    transition: 2s;
    position: relative;
    bottom: 60vh;
    left: 10vw;
    width: 25vw;
    height: 40vh;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
    background-color: rgba(0, 0, 0, 0.781)
}
.infoTitle{

    font-size: calc(14px + 0.5vw);
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration:2px underline yellow;
    margin-bottom: 2vh;
}
.infoDivTools{
    transition: 2s;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    bottom: 100vh;
    left: 60vw;
    width: 25vw;
    height: 40vh;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
    background-color: rgba(0, 0, 0, 0.446);
}
.infoDivToolsDarker{
    transition: 2s;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    bottom: 100vh;
    left: 60vw;
    width: 25vw;
    height: 40vh;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
    background-color: rgba(0, 0, 0, 0.861);
}



@keyframes shadow {
    0%{box-shadow: 0px 0px 0px black; background-color: rgba(0, 0, 0, 0); opacity: 0;}
    100%{box-shadow: 10px 10px 10px black;    background-color: rgba(0, 0, 0, 0.239); opacity: 1;}
  }
