.container{
    text-align: center;
    margin:  0 auto;
    margin-top: 5vh;
    width: 90vw;
    height: 80vh;
    padding-top: 7vh;
    border-radius: 5px;
    animation: shadow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.img{
    transition: 2s;
    position: relative;
    width: 40vw;
    border-radius: 5px;
    margin-top: 7vh;
    box-shadow: 10px 10px 10px black;
}
img:hover{
    transition: 2s;
    width: 50vw;
    margin-top: 2vh;
}

.textInfo{
    margin-top: 10vh;
    color: white;
    margin: 1vw;
}
.text{
    font-family: 'Orbitron', sans-serif;
    color: white;
}
.title{
    font-size: calc(20px + 0.5vw);
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration:2px underline yellow;
    margin-bottom: 2vh;
}

.infoDiv{
    font-family: 'DM Serif Display', serif;
    font-size: calc(8px + 0.3vw);
    transition: 2s;
    position: relative;
    bottom: 60vh;
    left: 10vw;
    width: 25vw;
    height: 40vh;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
    background-color: rgba(0, 0, 0, 0.134);
    padding-top: 5vh;
    
}
.infoDivDarker{
    font-family: 'DM Serif Display', serif;
    padding-top: 5vh;
    font-size: calc(10px + 0.5vw);
    transition: 2s;
    position: relative;
    bottom: 50vh;
    left: 10vw;
    width: 40vw;
    height: 55vh;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
    background-color: rgba(0, 0, 0, 0.857);
}
.infoTitle{
    font-size: calc(14px + 0.5vw);
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration:2px underline yellow;
    margin-bottom: 2vh;
}
.infoDivTools{
    font-family: 'Orbitron', sans-serif;
    font-size: calc(8px + 0.5vw);
    transition: 2s;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    bottom: 105vh;
    width: 25vw;
    padding-top: 5vh;
    height: 40vh;
    left: 55vw;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
    background-color: rgba(0, 0, 0, 0.182);

}
.infoDivToolsDarker{
    font-family: 'Orbitron', sans-serif;
    font-size: calc(10px + 0.5vw);
    transition: 2s;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    bottom: 100vh;
    left: 40vw;
    width: 40vw;
    height: 55vh;
    border-radius: 5px;
    padding-top: 5vh;
    box-shadow: 10px 10px 10px black;
    background-color: rgba(0, 0, 0, 0.857);
}
.githubLink{
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-decoration: underline purple 2px;
}
.linkDiv{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

@keyframes shadow {
    0%{box-shadow: 0px 0px 0px black; background-color: rgba(0, 0, 0, 0); opacity: 0;}
    100%{box-shadow: 10px 10px 10px black;    background-color: rgba(0, 0, 0, 0.239); opacity: 1;}
  }


  @media only screen and (max-width: 1150px) {
    .container{
        height: 60vh;
    }
    .infoTitle{
        font-size: calc(14px + 0.5vw);
        font-family: 'Oswald', sans-serif;
        color: white;
        text-decoration:2px underline yellow;
        margin-bottom: 2vh;
    }
    .infoDivTools{
        font-size: calc(6px + 0.3vw);
        bottom: 75vh;
        left: 60vw;
        height: 25vh;
    }
    .infoDiv{
        font-size: calc(6px + 0.2vw);
        bottom: 45vh;
        height: 25vh;
        left: 5vw;
    }
    .infoDivToolsDarker{
        font-size: calc(8px + 0.4vw);
        bottom: 75vh;
        height: 35vh;
        left: 40vw;
    }
    .infoDivDarker{
        font-size: calc(8px + 0.5vw);
        bottom: 45vh;
        height: 35vh;
        left: 10vw;
    }
  }


  @media only screen and (max-width: 720px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding-top: 1vh;
    }
    .infoTitle{
        font-size: calc(14px + 0.5vw);
        font-family: 'Oswald', sans-serif;
        color: white;
        text-decoration:2px underline yellow;
        margin-bottom: 2vh;

    }
    .infoDivTools{
        position:initial;
        font-size: calc(6px + 0.3vw);
        width: 70vw;
        height: auto;
        margin-bottom: 2vh;
        padding-bottom: 2vh;
        padding-top: 1vh;
    }
    .infoDiv{
        padding-top: 1vh;
        position:initial;
        font-size: calc(6px + 0.2vw);
        width: 70vw;
        height: auto;
        margin-bottom: 2vh;
        padding-bottom: 2vh;
        left: 5vw;
    }
    .infoDivToolsDarker{
        position:initial;
        font-size: calc(8px + 0.4vw);
        height: auto;
        width: 80vw;
        padding: 5vw;
    }
    .infoDivDarker{
        position:initial;
        font-size: calc(8px + 0.5vw);
        bottom: 45vh;
        height: auto;
        width: 80vw;
        left: 10vw;
        padding: 5vw;
    }
    .img{
        position:initial;
        transition: 2s;
        width: 70vw;
        border-radius: 5px;
        margin-top: 2vh;
        margin-bottom: 2vh;
        box-shadow: 10px 10px 10px black;
    }
    img:hover{
        width: 80vw;
    }
    
  }