.Container{
    display: flex;
    flex-direction: row;
    gap:3vw;
    margin: 0 auto;
    margin-bottom: 5vh;
    margin-top: 5vh;
    height: auto;
    padding-bottom: 15vh;
    width: 90vw;
    border-radius: 5px;
    box-shadow: 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.722);
    text-align: center;
    animation: shadow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;

}
.title{
    margin-top: 2vh;
    font-size: calc(20px + 0.5vw);
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration:2px underline yellow;
    margin-bottom: 2vh;
}
.textContainer{
    margin-top: 2vh;
    margin-right: 2vw;
}
.text{
    border-radius: 5px;
    color: white;
}
.mySkillz{
    color: white;
    font-family: 'Oswald', sans-serif;

}
.hr{
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 2vh;
}
.linkDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
    gap:3vw;

}
.linkText{
    color: white;
    text-decoration: underline purple;
    cursor: pointer;
    font-size: calc(12px + 0.5vw);
}
.linkToogleText{
    transition: 2s;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.676);
    border:  1px solid white;
    margin-top: 4vh;
    padding: 2vw;
    color: white;
    font-family: 'Oswald', sans-serif;
}


@keyframes shadow {
    0%{box-shadow: 0px 0px 0px black; background-color: rgba(0, 0, 0, 0); opacity: 0;}
    100%{box-shadow: 10px 10px 10px black;    background-color: rgba(0, 0, 0, 0.627); opacity: 1;}
  }
