.Container{
    display: flex;
    flex-direction: row;
    gap:3vw;
    margin: 0 auto;
    margin-top: 5vh;
    height: 80vh;
    width: 90vw;
    border-radius: 5px;
    box-shadow: 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.722);
    text-align: center;
    animation: shadow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;

}
.title{
    margin-top: 2vh;
    font-size: calc(20px + 0.5vw);
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration:2px underline yellow;
    margin-bottom: 2vh;
}
.textContainer{
    margin-top: 2vh;


}
.text{
    border-radius: 5px;
    color: white;
}
.mySkillz{
    color: white;
    font-family: 'Oswald', sans-serif;
}

@keyframes shadow {
    0%{box-shadow: 0px 0px 0px black; background-color: rgba(0, 0, 0, 0); opacity: 0;}
    100%{box-shadow: 10px 10px 10px black;    background-color: rgba(0, 0, 0, 0.814); opacity: 1;}
  }